html
    head
    title= "createToilet"
    //script(type='text/javascript' src='/js/createToilet.js')
    body
        h1= "this is a test of creating."
        //button(type='button' onclick='create()')
